body {
  background: none;
}

.col-md-9 {
  font-size: 12pt;
}

kbd {
  font-family: "Monaco", monospace;
  font-size: 10pt;
  background-color: #303030;
  margin-right: 1pt;
}

a {
  color: #623876;
}

a:hover {
  color: #606060;
}

.navbar {
  background: #623876;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-bottom: none;
}

.dropdown-menu {
  max-height: 80vh;
  overflow-y: auto;
}

.dropdown-menu > .active > a,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a:focus
{
  background-color: #917d9b;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a:hover
{
  background-color: #989898;
}

.admonition {
  background-color: #e4e3e5;
}

.admonition.important {
  background-color: #f5d2cf;
}

.admonition.important > .admonition-title {
  color: #720002;
}
