name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Download plugin documentation
      run: python plugindocs.py
    - name: Build mkdocs
      run: mkdocs build
    - name: Deploy to server
      env:
        SERVER: ${{ secrets.SERVER }}
        PORT: ${{ secrets.PORT }}
        SSH_KEY: ${{ secrets.SSH_KEY }}
      run: |
        echo "${SSH_KEY}" > /tmp/key
        chmod 0600 /tmp/key
        
        scp -P "${PORT}" -i /tmp/key -o StrictHostKeyChecking=no -r site/ qs@${SERVER}:/home/qs/manual/
